[Desktop Entry]
Version=1.0
Name=COSMIC Tiling Exceptions
Comment=Gerencie as exceções de tiling do COSMIC Desktop (apps flutuantes)
Exec=cosmic-tiling-manager
Icon=cosmic-tiling-manager
Terminal=false
Type=Application
Categories=Settings;System;DesktopSettings;
StartupWMClass=CosmicTilingManager
